<!-- EQUALIZER RESPONSIVE - BEGINS -->
<div class="row" data-equalizer data-equalize-on="large"> 
	<div class="medium-6 columns"> 
		<div class="callout evo-callout" data-equalizer-watch>
			<section>
				<p>{{lorem count=3}}</p>
				<p>{{lorem count=3}}</p>
				<p class="evo-no-margin-bottom">{{lorem count=3}}</p>
			</section>
		</div>
	</div> 
	<div class="medium-6 columns"> 
		<div class="callout evo-callout" data-equalizer-watch>
			<section>
				<p>{{lorem count=3}}</p>
				<p class="evo-no-margin-bottom">{{lorem count=3}}</p>
			</section>
		</div>
	</div> 
</div>
<!-- EQUALIZER RESPONSIVE - ENDS -->