<!-- EQUALIZER NESTED - BEGINS -->
<div class="row" data-equalizer="foo" data-equalize-on="medium"> 
	<div class="medium-4 columns"> 
		<div class="callout evo-callout" data-equalizer-watch="foo" data-equalizer="bar">
			<h4>Parent panel</h4>
			<div class="callout evo-callout" data-equalizer-watch="bar">
				<header>
					<h5>Nested panel 1</h5>
				</header>
				<section>
					<p class="evo-no-margin-bottom">{{lorem count=2}}</p>
				</section>
			</div> 
			<div class="callout evo-callout" data-equalizer-watch="bar"> 
				<header>
					<h5>Nested panel 2</h5>
				</header>
				<section>
					<p class="evo-no-margin-bottom">{{lorem count=2}}</p>
				</section>
			</div> 
			<div class="callout evo-callout" data-equalizer-watch="bar"> 
				<header>
					<h5>Nested panel 3</h5>
				</header>
				<section>
					<p class="evo-no-margin-bottom">{{lorem count=2}}</p>
				</section>
			</div>
		</div> 
	</div> 
	<div class="medium-4 columns"> 
		<div class="callout evo-callout" data-equalizer-watch="foo"> 
			<section>
				<p class="evo-no-margin-bottom">{{lorem count=3}}</p>
			</section>
		</div> 
	</div> 
	<div class="medium-4 columns"> 
		<div class="callout evo-callout" data-equalizer-watch="foo"> 
			<section>
				<p class="evo-no-margin-bottom">{{lorem count=3}}</p>
			</section>
		</div> 
	</div> 
</div>
<!-- EQUALIZER NESTED - ENDS -->