<!-- KEYLINES - BEGIN -->
<div class="row" data-equalizer>
	<div class="medium-4 columns evo-keyline-right" data-equalizer-watch>
		{{> image src="placeholders/placeholder_square.png" width="100%" height="200"}}
	</div>
	<div class="medium-4 columns" data-equalizer-watch>
		<p>{{lorem count=1}}</p>
		<p>{{lorem count=1}}</p>
	</div>
	<div class="medium-4 columns evo-keyline-left" data-equalizer-watch>
		<p>{{lorem count=1}}</p>
		<p>{{lorem count=1}}</p>
		<p>{{lorem count=1}}</p>
	</div>
</div>
<!-- KEYLINES - END -->