<div class="evo-contain-to-grid evo-spacer-margin-top-large">
	<div class="medium-4 columns">
		<div class="evo-spacer-margin-bottom-x-large">
			{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
			<p>{{ lorem count="10"}}</p>
		</div>
{{# markdown}}
* [Other links 1](#)
* [Other links 2](#)
* [Other links 3](#)
* [Other links 4](#)
* [Other links 5](#)
* [Other links 6](#)
{{/ markdown}}
	</div>
	<div class="medium-8 columns">
		<div class="evo-spacer-margin-bottom-xxx-large">
			{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
			<p>{{ lorem count=4}}</p>
		</div>

	<!-- BLOCK GRID - BASIC DEMO - BEGIN -->
		<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
			<li>
				<div class="evo-margin-bottom">
					{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
					General text for you to read and figure out if you want to read more.
				</div>

				{{> button text="Click me"}}
			</li>
			<li>
				<div class="evo-margin-bottom">
					{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
					General text for you to read and figure out if you want to read more.
				</div>

				{{> button text="Click me"}}
			</li>
			<li>
				<div class="evo-margin-bottom">
					{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
					General text for you to read and figure out if you want to read more.
				</div>

				{{> button text="Click me"}}
			</li>
			<li>
				<div class="evo-margin-bottom">
					{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
					General text for you to read and figure out if you want to read more.
				</div>

				{{> button text="Click me"}}
			</li>
		</ul>
	<!-- BLOCK GRID - BASIC DEMO - END -->

	<!-- TABS - BEGINS -->
		<ul class="tabs evo-tabs" data-tab role="tablist">
			<li class="tab-title active" role="presentation">
				<a href="#tab1" role="tab" tabindex="0" aria-selected="true" aria-controls="tabs1"><span class="text">Tab 1</span></a>
			</li>
			<li class="tab-title" role="presentation">
				<a href="#tab2" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs2"><span class="text">Tab 2</span></a>
			</li>
			<li class="tab-title" role="presentation">
				<a href="#tab3" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs3"><span class="text">Tab 3</span></a>
			</li>
		</ul>
		<div class="tabs-content evo-tabs-content">
			<section role="tabpanel" aria-hidden="false" class="content active" id="tab1">
				<p>{{ lorem count=4}}</p>
			</section>
			<section role="tabpanel" aria-hidden="true" class="content" id="tab2">
				<p>{{ lorem count=4}}</p>
			</section>
			<section role="tabpanel" aria-hidden="true" class="content" id="tab3">
				<p>{{ lorem count=4}}</p>
			</section>
		</div>
	<!-- TABS - ENDS -->
	</div>
</div>