{{!--
custom-class: your custom class
background-color: background color, for example: sapphire-dark
font-color: font color, for example: sapphire-dark
size: small, medium, large, x-large
system-color: alert, warning, success, info
text: your content
--}}

<!-- BADGE - BEGINS -->
<span class="label {{#if system-color}}{{system-color}} {{/if}}evo-badge{{#if custom-class}} {{custom-class}}{{/if}}" {{#if size}}data-evo-badge-size="{{size}}"{{/if}} {{#if font-color}}data-evo-font-color="{{font-color}}"{{/if}} {{#if background-color}}data-evo-background-color="{{background-color}}"{{/if}}>{{#if text}}{{{text}}}{{else}}1{{/if}}</span>
<!-- BADGE - ENDS -->