<!-- ITEM SELECTION PANEL - PHOTO ICONS - BEGINS -->
	<div class="evo-item-selection-panel" data-evo-item-selection-panel-type="photo">
		<div class="row small-up-3 medium-up-6">
			<div class="columns">
				<label for="evo-item-selection-panel-item-1" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					<img class="evo-item-selection-panel-item-icon" src="{{assets}}/images/core/icons/photo/career/photo_icon_career_1.png">
					<span class="evo-item-selection-panel-item-label">Communication</span>
					{{> input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-1" type="checkbox"}}
				</label>
			</div>
			<div class="columns">
				<label for="evo-item-selection-panel-item-2" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					<img class="evo-item-selection-panel-item-icon" src="{{assets}}/images/core/icons/photo/career/photo_icon_career_2.png">
					<span class="evo-item-selection-panel-item-label">Presentation Skills</span>
					{{> input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-2" type="checkbox"}}
				</label>
			</div>
			<div class="columns">
				<label for="evo-item-selection-panel-item-3" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					<img class="evo-item-selection-panel-item-icon" src="{{assets}}/images/core/icons/photo/career/photo_icon_career_3.png">
					<span class="evo-item-selection-panel-item-label">Management</span>
					{{> input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-3" type="checkbox"}}
				</label>
			</div>
			<div class="columns">
				<label for="evo-item-selection-panel-item-4" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					<img class="evo-item-selection-panel-item-icon" src="{{assets}}/images/core/icons/photo/career/photo_icon_career_4.png">
					<span class="evo-item-selection-panel-item-label">Vision</span>
					{{> input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-4" type="checkbox"}}
				</label>
			</div>
			<div class="columns">
				<label for="evo-item-selection-panel-item-5" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					<img class="evo-item-selection-panel-item-icon" src="{{assets}}/images/core/icons/photo/career/photo_icon_career_5.png">
					<span class="evo-item-selection-panel-item-label">Contacts</span>
					{{> input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-5" type="checkbox"}}
				</label>
			</div>
			<div class="columns">
				<label for="evo-item-selection-panel-item-6" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					<img class="evo-item-selection-panel-item-icon" src="{{assets}}/images/core/icons/photo/career/photo_icon_career_6.png">
					<span class="evo-item-selection-panel-item-label">Accidental</span>
					{{> input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-6" type="checkbox"}}
				</label>
			</div>
		</div>
	</div>
<!-- ITEM SELECTION PANEL - PHOTO ICONS - ENDS -->