<!-- ITEM SELECTION PANEL COMPONENT - PHOTO ICONS - BEGINS -->
	<div class="evo-item-selection-panel" data-evo-item-selection-panel-type="photo">
		<ul class="small-block-grid-3 medium-block-grid-6">
			<li>
				<label for="evo-item-selection-panel-item-1" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					<img class="evo-item-selection-panel-item-icon" src="{{ assets }}/images/core/icons/photo/career/photo_icon_career_1.png" alt="" title="" />
					<span class="evo-item-selection-panel-item-label">Communication</span>
					<input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-1" type="checkbox" tabindex="" title="" />
				</label>
			</li>
			<li>
				<label for="evo-item-selection-panel-item-2" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					<img class="evo-item-selection-panel-item-icon" src="{{ assets }}/images/core/icons/photo/career/photo_icon_career_2.png" alt="" title="" />
					<span class="evo-item-selection-panel-item-label">Presentation Skills</span>
					<input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-2" type="checkbox" tabindex="" title="" />
				</label>
			</li>
			<li>
				<label for="evo-item-selection-panel-item-3" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					<img class="evo-item-selection-panel-item-icon" src="{{ assets }}/images/core/icons/photo/career/photo_icon_career_3.png" alt="" title="" />
					<span class="evo-item-selection-panel-item-label">Management</span>
					<input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-3" type="checkbox" tabindex="" title="" />
				</label>
			</li>
			<li>
				<label for="evo-item-selection-panel-item-4" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					<img class="evo-item-selection-panel-item-icon" src="{{ assets }}/images/core/icons/photo/career/photo_icon_career_4.png" alt="" title="" />
					<span class="evo-item-selection-panel-item-label">Vision</span>
					<input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-4" type="checkbox" tabindex="" title="" />
				</label>
			</li>
			<li>
				<label for="evo-item-selection-panel-item-5" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					<img class="evo-item-selection-panel-item-icon" src="{{ assets }}/images/core/icons/photo/career/photo_icon_career_5.png" alt="" title="" />
					<span class="evo-item-selection-panel-item-label">Contacts</span>
					<input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-5" type="checkbox" tabindex="" title="" />
				</label>
			</li>
			<li>
				<label for="evo-item-selection-panel-item-6" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					<img class="evo-item-selection-panel-item-icon" src="{{ assets }}/images/core/icons/photo/career/photo_icon_career_6.png" alt="" title="" />
					<span class="evo-item-selection-panel-item-label">Accidental</span>
					<input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-6" type="checkbox" tabindex="" title="" />
				</label>
			</li>
		</ul>
	</div>
<!-- ITEM SELECTION PANEL COMPONENT - PHOTO ICONS - ENDS -->