{{!--
aria-label: button aria label
button-name: custom name used for button
button-title: title of the button
button-type: button, input - if no button type is set then <a> tag is used by default
button-value: custom value for button
custom-class: custom class for button
disabled: if the button is disabled [TRUE] is the value
href: if the button is using the <a> tag then set a href value
icon-position: both, left, right
icon-position-left-class: icon class of custom icomoon icon for left side of button
icon-position-right-class: icon class of custom icomoon icon for right side of button
id: custom id for button
interactive-data-value: data value for interactive button - must match value used in JS init of interactive button
size: tiny, small, large - default size is medium, no size option needed
shape: radius, round
expand: if the button is going to be 100% width [TRUE] is the value
secondary: if the button is going to be a secondary button [TRUE] is the value
tabindex: the tab index order number
text: your button content
type: button, submit
--}}

{{#is button-type 'button'}}
	<button class="button{{#if size}} {{size}}{{/if}}{{#if expand}} expand{{/if}}{{#if shape}} {{shape}}{{else}} radius{{/if}}{{#if secondary}} secondary{{/if}}{{#if disabled}} disabled{{/if}} evo-button{{#if custom-class}} {{custom-class}}{{/if}}" {{#if icon-position}}data-evo-button-icons="{{icon-position}}"{{/if}} {{#if interactive-data-value}}data-evo-button-interactive="{{interactive-data-value}}"{{/if}} {{#if id}}id="{{id}}"{{/if}} {{#if button-name}}name="{{button-name}}"{{/if}} {{#if button-value}}value="{{button-value}}"{{/if}} {{#if type}}type="{{type}}"{{/if}} {{#if disabled}}disabled{{/if}} {{#if tabindex}}tabindex="{{tabindex}}"{{/if}} {{#if button-title}}title="{{{button-title}}}"{{/if}}>{{#is icon-position 'both'}}<i class="{{#if icon-position-left-class}}{{icon-position-left-class}} {{else}}evo-icon-plus-circle {{/if}}evo-icon-position-left"></i>{{/is}}{{#is icon-position 'left'}}<i class="{{#if icon-position-left-class}}{{icon-position-left-class}} {{else}}evo-icon-plus-circle {{/if}}evo-icon-position-left"></i>{{/is}}{{#if icon-position}}<span class="evo-button-text">{{/if}}{{#if text}}{{{text}}}{{else}}Button text{{/if}}{{#if icon-position}}</span>{{/if}}{{#is icon-position 'both'}}<i class="{{#if icon-position-right-class}}{{icon-position-right-class}} {{else}}evo-icon-arrow-right2 {{/if}}evo-icon-position-right"></i>{{/is}}{{#is icon-position 'right'}}<i class="{{#if icon-position-right-class}}{{icon-position-right-class}} {{else}}evo-icon-arrow-right2 {{/if}}evo-icon-position-right"></i>{{/is}}</button>
{{else}}
	<a href="{{#if href}}{{href}}{{else}}#/{{/if}}" class="button{{#if size}} {{size}}{{/if}}{{#if expand}} expand{{/if}}{{#if shape}} {{shape}}{{else}} radius{{/if}}{{#if secondary}} secondary{{/if}}{{#if disabled}} disabled{{/if}} evo-button{{#if custom-class}} {{custom-class}}{{/if}}" {{#if icon-position}}data-evo-button-icons="{{icon-position}}"{{/if}} {{#if interactive-data-value}}data-evo-button-interactive="{{interactive-data-value}}"{{/if}} {{#if id}}id="{{id}}"{{/if}} role="button" {{#if tabindex}}tabindex="{{tabindex}}"{{/if}} {{#if button-title}}title="{{{button-title}}}"{{/if}} {{#if aria-label}}aria-label="{{aria-label}}"{{/if}}>{{#is icon-position 'both'}}<i class="{{#if icon-position-left-class}}{{icon-position-left-class}} {{else}}evo-icon-plus-circle {{/if}}evo-icon-position-left"></i>{{/is}}{{#is icon-position 'left'}}<i class="{{#if icon-position-left-class}}{{icon-position-left-class}} {{else}}evo-icon-plus-circle {{/if}}evo-icon-position-left"></i>{{/is}}{{#if icon-position}}<span class="evo-button-text">{{/if}}{{#if text}}{{{text}}}{{else}}Button text{{/if}}{{#if icon-position}}</span>{{/if}}{{#is icon-position 'both'}}<i class="{{#if icon-position-right-class}}{{icon-position-right-class}} {{else}}evo-icon-arrow-right2 {{/if}}evo-icon-position-right"></i>{{/is}}{{#is icon-position 'right'}}<i class="{{#if icon-position-right-class}}{{icon-position-right-class}} {{else}}evo-icon-arrow-right2 {{/if}}evo-icon-position-right"></i>{{/is}}</a>
{{/is}}