<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{ global.title }} : {{ title }}</title>
<meta name="keywords" content="{{ global.meta_keywords }}">
<meta name="description" content="{{ global.meta_description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
<link rel="shortcut icon" href="{{ assets }}/images/core/favicon.ico">

<link href="{{ assets }}/css/evolution.css" rel="stylesheet" type="text/css">
<link href="{{ assets }}/css/app.css" rel="stylesheet" type="text/css">
<!--[if IE 9]><link href="{{ assets }}/css/ie.css" rel="stylesheet" type="text/css"><![endif]-->